<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
        <link rel="stylesheet" href="/assets/css/app.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.net.min.js"></script>
        <title>Collin Carroll - {% block title %}{% endblock %}</title>

        <meta name="title" content="Collin Carroll - {{ self.title() }}">
        <meta name="description" content="Portfolio of Collin Carroll">
        <link rel="icon" href="/assets/img/icon.png">

        <meta property="og:type" content="website">
        <meta property="og:url" content="https://laserforce.spoo.uk/">
        <meta property="og:title" content="Collin Carroll - {{ self.title() }}">
        <meta property="og:description" content="Portfolio of Collin Carroll">
        <meta property="og:image" content="">

        {% block html_head %}{% endblock %}
    </head>
    <body>
        <span id="home"></span>
        <div class="flex flex-row justify-between items-center bg-gray-900 p-4 sticky top-0 z-50" id="navbar">
            <div class="flex flex-row justify-between items-center">
                <a href="/#home" class="text-white text-xl">Home</a>
                <a href="/#about" class="text-white text-xl ml-4">About</a>
                <a href="/#education" class="text-white text-xl ml-4">Education</a>
                <a href="/#projects" class="text-white text-xl ml-4">Projects</a>
                <a href="/#contact" class="text-white text-xl ml-4">Contact</a>
            </div>
            <div class="flex flex-row justify-between items-center">
                <a href="https://github.com/spookybear0" class="text-white text-xl ml-4" target="_blank" title="spookybear0"><i class="fab fa-github"></i></a>
                <a href="mailto:collinmcarroll@gmail.com" class="text-white text-xl ml-4"><i class="fas fa-envelope" title="collinmcarroll@gmail.com"></i></a>
            </div>
        </div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
      
        <div id="footer">
            {% block footer %}
                
            {% endblock %}
        </div>
    </body>
</html>