{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block html_head %}

<script>
    function onLoad() {
        VANTA.NET({
            el: "#home-bg",
            mouseControls: false,
            touchControls: false,
            gyroControls: false,
            minHeight: 200.00,
            minWidth: 200.00,
            scale: 1.00,
            scaleMobile: 1.00,
            backgroundColor: 0x080808,
            color: 0x5024b5
        })
    }

    window.onload = onLoad;
</script>

<style>
    #home-bg {
        mask-image: linear-gradient(to bottom, black calc(100% - 64px), transparent 100%);
    }
</style>

{% endblock %}


{% block content %}


<div>
    <div class="flex flex-col justify-center items-center h-screen" id="home-bg">
        <h1 class="text-center text-5xl" id="header1">Hello, I'm Collin.</h1>
        <h2 class="text-center text-5xl" id="header2">I'm a full stack developer.</h2>
    </div>

    <span id="about"></span>
    
    <div class="flex flex-col justify-start items-center lg:h-screen mt-24">
        <h1 class="text-center text-5xl mb-10">About</h1>

        <span class="w-11/12 lg:w-3/4 h-1 bg-gray-900 mb-20"></span>
        
        <div class="flex flex-row justify-between items-center lg:flex-row flex-col lg:w-11/12">
            <div class="flex flex-col justify-center items-center w-11/12 lg:w-5/12 mb-40 lg:mb-0">
                <p class="text-center text-2xl">
                    I'm a self taught full stack developer who's been programming ever since
                    I was 12 years old. I've worked on a variety of projects, ranging from
                    websites, games, and even a system to rank laser tag players to create
                    more fair matchups. My favorite language is Python, but I'm also very
                    experienced with C++ and C#. I've recently been expirementing with Godot,
                    uses C# as it's scripting language, and I've been loving it so far.
                    I'm interesting in expanding my knowledge on data science and the
                    Python libraries that come with it, such as Pandas and Numpy.
                </p>
            </div>
            <div class="flex flex-col justify-center lg:w-5/12">
                <h1 class="text-center text-4xl mb-10">Languages and Frameworks</h1>

                <span class="w-11/12 lg:w-3/4 h-1 bg-gray-900 mb-20 mx-auto"></span>

                <div class="flex flex-row justify-between items-center">
                    <div class="flex flex-col justify-center items-center px-5 space-y-10">
                        <img src="/assets/img/python.png" class="mx-auto" style="height: 100px;">
                        <img src="/assets/img/cplusplus.png" class="mx-auto" style="height: 100px;">
                    </div>
                    <div class="flex flex-col justify-center items-center px-5 space-y-10">
                        <img src="/assets/img/html.png" class="mx-auto" style="height: 100px;">
                        <img src="/assets/img/css.png" class="mx-auto" style="height: 100px;">
                        <img src="/assets/img/sql.png" class="mx-auto" style="height: 100px;">
                    </div>
                    <div class="flex flex-col justify-center items-center px-5 space-y-10">
                        <img src="/assets/img/sanic.png" class="mx-auto" style="height: 100px;">
                        <img src="/assets/img/jinja.png" class="mx-auto" style="height: 100px;">
                        <img src="/assets/img/jupyter.png" class="mx-auto" style="height: 100px;">
                    </div>
                    <div class="flex flex-col justify-center items-center px-5 space-y-10">
                        <img src="/assets/img/godot.png" class="mx-auto" style="height: 100px;">
                        <img src="/assets/img/csharp.png" class="mx-auto" style="height: 100px;">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <span id="education"></span>

    <div class="flex flex-col justify-start items-center lg:h-screen mt-24">
        <h1 class="text-center text-5xl mb-10">Education</h1>

        <span class="w-11/12 lg:w-3/4 h-1 bg-gray-900 mb-20"></span>
        
        <div class="flex flex-row justify-between items-center w-3/4">
            <p class="text-center text-2xl">
                I'm <b>currently a sophomore in high school</b>, and I'm taking a variety of
                college classes working towards my associate's degree. By the time I
                graduate high school, I'll have my associate's degree in computer science.
                At high school, I'm taking AP and honors classes that will help me
                prepare for my career such as Data Science and AP Calculus. <b>I plan to go to UCSD</b>
                as a junior immediately after high school to get my bachelor's degree
                in computer science.
            </p>
        </div>

        <span class="w-11/12 lg:w-3/4 h-1 mb-10 mt-10"></span>

            <div class="flex flex-col justify-center lg:w-5/12">
                <img src="/assets/img/ucsd.png" class="mx-auto" style="height: 400px;">
            </div>
    </div>

    <span id="projects"></span>

    <div class="flex flex-col justify-start items-center lg:h-screen mt-24">
        <h1 class="text-center text-5xl mb-10">Projects</h1>

        <span class="w-11/12 lg:w-3/4 h-1 bg-gray-900 mb-20"></span>

        <!--portfolio of projects with pictures-->

        <h1 class="text-center text-4xl mb-10">Under Construction</h1>
    </div>

    <span id="contact"></span>

    <div class="flex flex-col justify-start items-center lg:h-screen mt-24">
        <h1 class="text-center text-5xl mb-10">Contact</h1>

        <span class="w-11/12 lg:w-3/4 h-1 bg-gray-900 mb-20"></span>
        
        <!--contact form-->

        <h1 class="text-center text-4xl mb-10">Under Construction</h1>
    </div>
</div>

{% endblock %}


{% block footer %}



{% endblock %}